html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 0; 
  padding: 0;
}

a:active,
a:hover {
  outline: 0;
   }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
   }

* {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  outline: none !important;
  border: 0px;
}

a {
  transition: all ease 1s;
  text-decoration: none; }
a:hover, a:focus, a:active {
    transition: all ease 1s; 
    outline: 0;
}
a:focus {
    text-decoration: none; 
}

textarea {
  resize: none;
  height: auto; }

 .cf:before {
  display: table;
  content: ""; }

.cf:after {
  display: table;
  content: "";
  clear: both; }

















